<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Data</title>
</head>
<body>

<p>Set available time slots for students here.</p>




<!-- // Should display all time slots with check boxes displaying which ones are and aren't available.
// Availability could be determined by URL with a sequence of 0s and 1s? -->
<ol>
    <% for (var i=0; i<time_entries.length; i++) { %>
        <li>
            <%= time_entries[i] %>
        </li>
    <% } %>

    </ol>
    
    </body>
    </html>