<link rel="stylesheet" href="/css/style.css">

<form action="/faculty_main/add_meeting_times_view/<%= professor_id %>" method="POST">
  <label for="date_available">Date:</label>
  <input type="date" id="date_available" name="date_available" required>

  <label for="time">Time:</label>
  <input type="time" id="time" name="time" required>

  <input type="submit" value="Add Meeting Time">
</form>

