<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Data</title>
</head>
<body>
    <h1>Error</h1>

    <p>Invalid key: <%= key %>.</p>

    <p>Please report this error to your advisor.</p>
</body>
</html>