<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>
</head>

<body>
    <h1>This page with house the implementation of the links page.</h1>
    <h2>The links page will allow advisors to copy/paste links to email</h2>
    <h2>their advisees the student_view where registration can be completed.</h2>
</body>

</html>