<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Data</title>
</head>
<body>
    <h1>Registration Data</h1>
    
<!-- 
 This is pulling information from the persons database table.  -->
    <ul>
        <% persons.forEach(person => { %>
            <li><%= person.First_Name %> <%= person.Last_Name %> - <%= person.Email %></li>
        <% }) %>
    </ul>
</body>
</html>
