<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Faculty Dashboard</title>
</head>
<body>

<h1>Hello, <%= name_entries[0].First_Name + " " + name_entries[0].Last_Name %>.</h1>

<h2>A message needs to go here. check notes from board drawing.</h2>

<p><%= stu_id %></p>
<% for(var i=0; i<name_entries.length; i++) { %>
    <p><%= name_entries[i]['First_Name']%> <%= name_entries[i]['Last_Name']%></p>
<% } %>

</body>
</html>
